<!doctype html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="overflow-hidden">
    <div class="h-full px-4 p1-5 bg-gray-200 sm:p-6 flex flex-wrap content-center justify-center">
                <form class="w-1/2" action="/auth/signin" method="POST">
                    <fm-input-labeled name='username' value='Dominik' required>Login</fm-input-labeled>
                    <fm-input-labeled name='password' value='123Aa2123' type="password" required>Heslo</fm-input-labeled>
                    <a class="mb-2 block italic hover:underline hover:text-green-600" href="/auth/signup">Chcem sa registrovať</a>
                    <input class="myButtonStyle" type="submit" value="Prihlásiť">
                </form>
    </div>
</div>

</body>
</html>