<main class="col-span-12 p-6">
    <div class="overflow-hidden">
        <div class="h-full px-4 p1-5 bg-gray-200 sm:p-6 flex flex-wrap content-center justify-center">
            <form class="w-1/2" action="/auth/signin" method="POST">
                <fm-input-labeled name='username' value='Dominik' required>Login</fm-input-labeled>
                <fm-input-labeled name='password' value='123Aa2123' type="password" required>Heslo</fm-input-labeled>
                <a class="mb-2 block italic hover:underline hover:text-green-600" href="/auth/signup">Chcem sa registrovať</a>
                <input class="myButtonStyle" type="submit" value="Prihlásiť">
            </form>
        </div>
    </div>
</main>
