<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6">
                <label for="expenseName" class="block text-sm font-medium text-gray-700">Názov</label>
                <input type="text"  name="expenseName" id="expenseName" value="{{this.expenseName}}" class="pl-1.5 py-1.5 pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="expenseDate" class="block text-sm font-medium text-gray-700">Dátum</label>
                <input type="date" name="expenseDate" id="expenseDate" value="{{this.expenseDate}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6">
                <label for="expenseAmount" class="block text-sm font-medium text-gray-700">Suma</label>
                <input type="number" name="expenseAmount" id="expenseAmount" value="{{this.expenseAmount}}" class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" step="0.01">
            </div>

            <div class="col-span-6">
                <label for="expenseBody" class="block text-sm font-medium text-gray-700">Poznámka</label>
                <textarea class="w-full pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" name="expenseBody" id="expenseBody" rows="15">{{this.expenseBody}}</textarea>
            </div>

            <div class="col-span-1">
                <label for="expenseFile" class="block text-sm font-medium text-gray-700">Doklad</label>
                <input class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" type="file" name="expenseFile" id="expenseFile">
            </div>

        <div class="px-4 py-3">
            {{> button}}
        </div>
    </div>
</div>
</div>