    <header class="h-screen col-span-2 bg-gray-600 p-4 flex flex-col justify-between sticky top-0">
        <div class="flex-col">
            <div class="flex flex-row items-center">
                <a href="#">
                    <img class="w-24 p-3.5" src="/img/vectorpaint (1).svg" alt="LogoIpsum">
                </a>
                <div>
                    <p class="text-white">Prihlásený:</p>
                    <p class="text-white">Anon Anonymous</p>
                </div>
            </div>

            <div id="myDIV" class="px-2 pt-2 pb-4">
                <a href="#" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-500">Prehľad</a>
                <a href="/invoices" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Faktúry</a>
                <a href="/order" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Objednávky</a>
                <a href="/employee" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Zamestnanci</a>
                <a href="/item" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Položky</a>
                <a href="/company" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Moja Firma</a>
            </div>
        </div>


            <a href="#" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500 self-end">Logout</a>


    </header>



<script>
    // console.log('here')
    // const elements = document.getElementById('myDIV').childNodes
    // console.log(elements)
    // for (const element of elements){
    //     if (window.location.href == element.href){
    //         element.className += " logoColourBackground";
    //         console.log('equals')
    //     }
    //     console.log(element.href)
    // }

    // window.onload = function (){
    //     console.log('here')
    //     const elements = document.getElementById('myDIV').childNodes
    //     console.log(elements)
    //     for (const element of elements){
    //         if (window.location.href == element.href){
    //             element.className += " logoColourBackground";
    //             console.log('equals')
    //         }
    //         console.log(element.href)
    //     }
    // }

    window.addEventListener('DOMContentLoaded', (event) => {
        console.log('DOM fully loaded and parsed');
            const elements = document.getElementById('myDIV').childNodes
            for (const element of elements){
                if (window.location.href.includes(element.href)){
                    element.className += " logoColourBackground";
                    return
                }
            }
    });

    console.log('js loaded') //faster than DOMContentLoaded

    // window.DOMContentLoaded = function(){
    //     console.log('here')
    //     const elements = document.getElementById('myDIV').childNodes
    //     console.log(elements)
    //     for (const element of elements){
    //         if (window.location.href == element.href){
    //             element.className += " logoColourBackground";
    //             console.log('equals')
    //         }
    //         console.log(element.href)
    //     }
    // }



    function myFunction1() {
        let elements = document.getElementsByClassName("buttonImg")
        for(let element of elements){
            element.classList.toggle("hidden")
        }
    }
    function myFunction() {
        var element = document.getElementById("myDIV");
        element.classList.toggle("hidden");
    }
</script>

