    <header class="h-screen col-span-2 bg-gray-600 p-4 flex flex-col justify-between sticky top-0">
        <div class="flex-col">
            <div class="flex flex-row items-center">
                <a href="/">
                    <img class="w-24 p-3.5" src="/img/vectorpaint (1).svg" alt="LogoIpsum">
                </a>
                <div>
                    <p class="block text-white">Prihlásený:</p>
                    <p id="logged-username" class="text-white block">.</p>
                </div>
            </div>

            <div id="myDIV" class="px-2 pt-2 pb-4">
                <a href="/" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-500">Prehľad</a>
                <a href="/invoices" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Faktúry</a>
                <a href="/order" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Objednávky</a>
                <a href="/expense" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Výdavky</a>
                <a href="/employee" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Zamestnanci</a>
                <a href="/item" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Položky</a>
                <a href="/company" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500">Moja Firma</a>
                <a href="/testing" class="block px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500 opacity-50">Debug Page</a>
            </div>

        </div>
<!--        <div class="self-end">-->
<!--            <p class="w-max inline-block inline bg-white">22-06-1999</p>-->
            <a href="/auth/signout" class="inline px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500 self-end">Logout</a>
<!--        </div>-->

    </header>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        if (window.location.href.includes("/auth")){
            document.getElementsByTagName('header')[0].style.display = 'none';
        }

            const elements = document.getElementById('myDIV').childNodes
            if (elements[1].href === window.location.href){
                elements[1].className += " logoColourBackground";
                setLoggedUsername()
                return
            }
            for (let i = 2; i < elements.length; i++){
                if (window.location.href.includes(elements[i].href)){
                    elements[i].className += " logoColourBackground";
                    setLoggedUsername()
                    return
                }
            }
    });
    function setLoggedUsername(){
        $.ajax({
            method: "GET",
            url: "/session/username" ,
            dataType: "text",
            success: function (data) {
                document.getElementById('logged-username').textContent = data
            }
        });

    }


    function myFunction1() {
        let elements = document.getElementsByClassName("buttonImg")
        for(let element of elements){
            element.classList.toggle("hidden")
        }
    }
    function myFunction() {
        var element = document.getElementById("myDIV");
        element.classList.toggle("hidden");
    }
</script>

