    <header class="h-screen col-span-2 bg-gray-600 p-2 lg:p-4 flex flex-col justify-between sticky top-0">
        <div class="flex-col">
            <div class="grid grid-cols-2 lg:gap-4">
                <a class="col-span-2 lg:col-span-1" href="/">
                    <img class="w-full p-3.5" src="/img/vectorpaint (1).svg" alt="LogoIpsum">
                </a>
                <div class="col-span-2 lg:col-span-1 flex items-center justify-center lg:justify-start ">
                    <div>
                        <p class="text-white">Prihlásený:</p>
                        <p id="logged-username" class="block text-white">.</p>
                    </div>
                </div>
            </div>

            <div id="myDIV" class="px-2 pt-2 pb-4">
                <fm-a href="/">Prehľad</fm-a>
                <fm-a href="/invoices">Faktúry</fm-a>
                <fm-a href="/order">Objednávky</fm-a>
                <fm-a href="/expense">Výdavky</fm-a>
                <fm-a href="/employee">Zamestnanci</fm-a>
                <fm-a href="/item">Položky</fm-a>
                <fm-a href="/company">Moja Firma</fm-a>
            </div>

        </div>
            <a href="/auth/signout" class="inline px-2 py-1 mt-1 text-white font-semibold rounded hover:bg-gray-500 self-end">Logout</a>
    </header>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        const elements = document.getElementById('myDIV').children
        if (elements[0].href === window.location.pathname){
            elements[0].setAttribute('active',"")
            setLoggedUsername()
            return
        }
        for (let i = 1; i < elements.length; i++){
            if (window.location.href.includes(elements[i].href)){
                elements[i].setAttribute('active',"")
                setLoggedUsername()
                return
            }
        }
    });
    function setLoggedUsername(){
        $.ajax({
            method: "GET",
            url: "/session/username" ,
            dataType: "text",
            success: function (data) {
                document.getElementById('logged-username').textContent = data
            }
        });

    }
</script>

