<html lang="sk">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/tailwind.css">
    <title>Fakturačný systém</title>
    <script type="module" src="/components/fm-components/fm-components.esm.js" ></script>
</head>

<body class="grid grid-cols-12 bg-gray-200 min-h-screen">
    {{{body}}}
</body>
</html>