<html lang="sk">
<head>
    <!-- <meta> tags>
    <link rel="stylesheet" href="views/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/tailwind.css">

    <title>Fakturačný systém</title>
    <style>
        .testing{
        }
    </style>
</head>

<body class="grid grid-cols-12 bg-gray-200 min-h-screen">
<script>
        {{#if url}} window.location.href = '{{url}}' {{/if}}
</script>


<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>


<main class="col-span-9 md:col-span-10 p-6">
    {{{body}}}
</main>

<!--
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
-->

<script>

</script>
</body>
</html>