<html lang="sk">
<head>
    <!-- <meta> tags>
    <link rel="stylesheet" href="views/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/tailwind.css">
    <title>Fakturačný systém</title>
    <script type="module" src="/components/fm-components/fm-components.esm.js" ></script>

</head>

<body class="grid grid-cols-12 bg-gray-200 min-h-screen">

<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>


<main class="col-span-9 md:col-span-10 p-6">
    {{{body}}}
</main>


</body>
</html>