<html lang="sk">
<head>
    <!-- <meta> tags>
    <link rel="stylesheet" href="views/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tailwind.css">

    <title>Fakturačný systém</title>
    <style>
        .testing{
        }
    </style>
</head>

<body>

<div class="">
    <h1>test layout</h1>
    <p class="text-red-600">sd</p>
    {{{body}}}
</div>

<!--
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
-->
</body>
</html>