<!--borders are set to top & right only, except edging elements
<input name="" id="" type="text" placeholder="" value="">
-->

<form id="orderForm" action="/employee/create" method="POST">
    {{> employeeInputs}}
</form>

