<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>
<main class="col-span-9 md:col-span-10 p-6">
<script src="/tooltipInput.js" ></script>
<div class="print flex justify-center">
    <form class="" id="itemForm" action="/invoices/{{this.id}}" method="POST">
        {{> invoice-inputs}}
    </form>
</div>
</main>
<script src="/invoice.js"></script>