<!--borders are set to top & right only, except edging elements
<input  name="" id="" type="text" placeholder="" value="">
-->

<script src="/tooltipInput.js" ></script>

<div class="flex justify-center">
    <h1>Detail faktúry</h1>
    <div class="a4 relative h-screen border-black border-4 text-sm font-sans bg-white ">
        <form class="" id="itemForm" action="/invoices/{{this.id}}" method="POST">
            {{> invoiceInputs}}
        </form>
    </div>
</div>

<script src="/invoice.js"></script>

<script>

</script>