<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8">
    <title>Auth</title>
</head>

<body>
    <h1>Prihlásenie</h1>

    <form action="auth/signin" method="POST">
        <label for="username">Login</label><input name="username" id="username" value="Dominik"><br>
        <label for="password">Heslo</label><input name="password" id="password" value="123Aa2123"><br>
        <input type="submit" value="Prihlasit">
    </form>

    <h1>Registracia</h1>
    <form action="auth/signup" method="POST" >
        <label for="username">Login</label><input name="username" id="username" value="Dominik"><br>
        <label for="password">Heslo</label><input name="password" id="password" value="123Aa2123"><br>
        <input type="submit" value="Registovat">
    </form>
</body>

</html>