<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-12 gap-6">

            <div class="col-span-12 lg:col-span-6 flex flex-wrap justify-center content-center">
                <div class="overview block font-semibold md:text-xl xl:text-2xl 2xl:text-3xl grid grid-cols-3">
                    <h2 class="col-span-2 text-right">Príjmy Spolu: </h2><p class="inline font-bold text-green-500 text-right" id="income-total"></p>
                    <h2 class="col-span-2 text-right">Výdavky Spolu: </h2><p class="inline font-bold text-red-500 text-right" id="expense-total"></p>
                    <h2 class="col-span-2 text-right">Príjmy Priemerne/Mesiac: </h2><p class="inline font-bold text-green-500 text-right" id="income-avg"></p>
                    <h2 class="col-span-2 text-right mb-4">Výdavky Priemerne/Mesiac: </h2><p class="inline font-bold text-red-500 text-right" id="expense-avg"></p>
                    <h2 class="col-span-2 text-right">Očakávané príjmy: </h2><p class="inline font-bold text-yellow-500 text-right" id="expected-payments"></p>
                    <h2 class="col-span-2 text-right">Po splatnosti: </h2><p class="inline font-bold text-red-500 text-right" id="overdue-payments"></p>
                </div>
            </div>

            <div class="col-span-12 lg:col-span-6 flex flex-wrap justify-center">

                <div class="w-1/2 ">
                    <h3 class="text-2xl font-semibold mb-4 text-center">Stav faktúr</h3>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
            <div class="col-span-2">
            </div>
            <div class="col-span-12 flex flex-wrap justify-center">
                <h3 class="text-2xl font-semibold mb-4">Prehľad príjmov a výdavkov</h3>
                <div class="w-full h-96 bg-white rounded-md border border-black" >
                    <canvas id="myChart"></canvas>
                </div>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/libs/chart.js/dist/chart.js"></script>
<script src="fetchDashboardData.js"></script>