<style>
    /*.overview p{*/
    /*    -webkit-text-stroke-width: 1px;*/
    /*    -webkit-text-stroke-color: black;*/
    /*}*/
</style>

<div class="overflow-hidden">
    <div class="px-4 p1-5 bg-gray-200 sm:p-6">
        <div class="grid grid-cols-12 gap-6">

            <div class="col-span-12 lg:col-span-6 flex flex-wrap justify-center content-center">
                <div class="overview block font-semibold md:text-xl xl:text-2xl 2xl:text-3xl grid grid-cols-3">
                    <h2 class="col-span-2 text-right">Príjmy Spolu: </h2><p class="inline font-bold text-green-500 text-right" id="income-total"></p>
                    <h2 class="col-span-2 text-right">Výdavky Spolu: </h2><p class="inline font-bold text-red-500 text-right" id="expense-total"></p>
                    <h2 class="col-span-2 text-right">Príjmy Priemerne/Mesiac: </h2><p class="inline font-bold text-green-500 text-right" id="income-avg"></p>
                    <h2 class="col-span-2 text-right mb-4">Výdavky Priemerne/Mesiac: </h2><p class="inline font-bold text-red-500 text-right" id="expense-avg"></p>
                    <h2 class="col-span-2 text-right">Očakávané príjmy: </h2><p class="inline font-bold text-yellow-500 text-right" id="expected-payments"></p>
                    <h2 class="col-span-2 text-right">Po splatnosti: </h2><p class="inline font-bold text-red-500 text-right" id="overdue-payments"></p>
                </div>
            </div>

            <div class="col-span-12 lg:col-span-6 flex flex-wrap justify-center">

                <div class="w-1/2 ">
                    <h3 class="text-2xl font-semibold mb-4 text-center">Stav faktúr</h3>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
            <div class="col-span-2">
            </div>
            <div class="col-span-12 flex flex-wrap justify-center">
                <h3 class="text-2xl font-semibold mb-4">Prehľad príjmov a výdavkov</h3>
                <div class="w-full h-96 bg-white rounded-md border border-black" >
                    <canvas id="myChart"></canvas>
                </div>
            </div>





            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="/libs/chart.js/dist/chart.js"></script>
<script>



    window.onload = async function() {
        $.ajax({
            method: "GET",
            url: "/data/dashboard" ,
            dataType: "json",
            success: function (data) {
                doughnut(data)
                drawChart(data)
                calcSum(data)
            },
        });
    };
    function doughnut(datas){
        const overdue = datas["invoiceState"]["overdue"]
        const paid = datas["invoiceState"]["paid"]
        const waitingForPayment = datas["invoiceState"]["waitingForPayment"]
        let ctx = document.getElementById("doughnut-chart").getContext("2d");
        const data = {
            labels: [
                'Po splatnosti',
                'Vyplatená',
                'Čaká sa na platbu'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [overdue, paid, waitingForPayment],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(23, 207, 151)',
                    'rgb(255,207,129)'
                ],
                hoverOffset: 4
            }]
        };
        window.myBar = new Chart(ctx, {type: "doughnut", data: data});
    }

    function calcSum(data){
        let income = data["income"]
        let incomeTotal = 0;
        for (let key in income){
            incomeTotal += parseFloat(income[key])
        }
        document.getElementById('income-total').innerText = incomeTotal.toFixed(2)

        let expense = data["expense"]
        let expenseTotal = 0;
        for (let key in expense){
            expenseTotal += parseFloat(expense[key])
        }
        document.getElementById('expense-total').innerText = expenseTotal.toFixed(2)
        document.getElementById('income-avg').innerText = (incomeTotal/12).toFixed(2)
        document.getElementById('expense-avg').innerText = (expenseTotal/12).toFixed(2)
        document.getElementById('expected-payments').innerText = parseFloat(data["invoiceState"]["expectedPayments"]).toFixed(2)
        document.getElementById('overdue-payments').innerText = parseFloat(data["invoiceState"]["overduePayments"]).toFixed(2)
    }

    function drawChart(data){
        let ctx = document.getElementById("myChart").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: "bar",
            data: {
                labels: [
                    "Apríl",
                    "Máj",
                    "Jún",
                    "Júl",
                    "August",
                    "September",
                    "Október",
                    "November",
                    "December",
                    "Január",
                    "Február",
                    "Marec",
                ],
                datasets: [
                    {
                        label: "Príjmy",
                        backgroundColor: 'rgba(23,207,151,0.2)',
                        borderColor: '#17CF97',
                        borderWidth: 1,
                        data: [data["income"]['apr'], data["income"]['may'], data["income"]['jun'], data["income"]['jul'], data["income"]['aug'], data["income"]['sep'], data["income"]['oct'], data["income"]['nov'], data["income"]['dec'], data["income"]['jan'], data["income"]['feb'], data["income"]['mar']]
                    },
                    {
                        label: "Výdavky",
                        backgroundColor: 'rgba(255,86,86,0.2)',
                        borderColor: 'rgb(255,86,86)',
                        borderWidth: 1,
                        data: [data["expense"]['apr'], data["expense"]['may'], data["expense"]['jun'], data["expense"]['jul'], data["expense"]['aug'], data["expense"]['sep'], data["expense"]['oct'], data["expense"]['nov'], data["expense"]['dec'], data["expense"]['jan'], data["expense"]['feb'], data["expense"]['mar']]
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: "top"
                },
                title: {
                    display: true,
                    text: "Chart.js Bar Chart"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

</script>