<style>
    #f1_upload_process{
        z-index:100;
        position:absolute;
        visibility:hidden;
        text-align:center;
        width:400px;
        margin:0px;
        padding:0px;
        background-color:#fff;
        border:1px solid #ccc;
    }

    form{
        text-align:center;
        width:390px;
        margin:0px;
        padding:5px;
        background-color:#fff;
        border:1px solid #ccc;

    }
</style>


            <form action="/expense/file" method="post"></form>
                <div class="col-span-1">
                    <label for="expenseFile" class="block text-sm font-medium text-gray-700">Doklad</label>
                    <input class="pl-1.5 py-1.5 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" type="file" name="expenseFile" id="expenseFile">
                </div>


                <div class="px-4 py-3">
                    {{> button}}
                </div>
            <form action=""></form>
            <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>



<script>
    function startUpload(){
        document.getElementById('f1_upload_process').style.visibility = 'visible';
        return true;
    }

    function stopUpload(success){
        var result = '';
        if (success == 1){
            document.getElementById('result').innerHTML =
                    '<span class="msg">The file was uploaded successfully!<\/span><br/><br/>';
        }
        else {
            document.getElementById('result').innerHTML =
                    '<span class="emsg">There was an error during file upload!<\/span><br/><br/>';
        }
        document.getElementById('f1_upload_process').style.visibility = 'hidden';
        return true;
    }
</script>