<h1>Registrácia</h1>
<form action="/auth/signup">
    <label for="username">Meno</label><input name="username" id="username" type="text">
    <label for="password">Heslo</label><input name="password" id="password" type="text">
    <input type="submit" value="submit">
</form>