<!--borders are set to top & right only, except edging elements
<input name="" id="" type="text" placeholder="" value="">
-->
<div class="print flex justify-center">
    <form id="orderForm" action="/order/create" method="POST">
        {{> orderInputs}}
    </form>
</div>
<script src="/order.js"></script>
<script>
    function removeItem(itemListId){
    }
    window.onload = () => {
        addItem();
    }
</script>