<!--borders are set to top & right only, except edging elements
<input  name="" id="" type="text" placeholder="" value="">
-->

<script src="/tooltipInput.js" ></script>

<!--<h1>Detail objednávky</h1>-->
<div class="flex justify-center">
        <form class="" id="orderForm" action="" method="POST">
            {{> orderInputs}}
        </form>
</div>

<script src="/order.js"></script>