<!--borders are set to top & right only, except edging elements
<input  name="" id="" type="text" placeholder="" value="">
-->
<script src="/tooltipInput.js" ></script>
<div class="print flex justify-center">
    <form class="" id="orderForm" action="" method="POST">
        {{> order-inputs}}
    </form>
</div>
<script src="/order.js"></script>