<aside class="col-span-3 md:col-span-2">
    {{> navigation}}
</aside>
<main class="col-span-9 md:col-span-10 p-6">
<form action="/expense/{{this.id}}" method="POST" enctype="multipart/form-data">
    {{> expense-inputs}}
</form>
</main>